:root {
  --background-clr: #f1f5f9;
  --secondary-clr: #e2e8f0;
}

#root {
  height: 100vh;
  display: flex;
  background-color: var(--background-clr);
}

form {
  width: 20vw;
  background-color: var(--secondary-clr);
  padding: 1rem;
  color: #475569;
}

form button {
  padding: 0.3rem;
  color: #475569;
}

form label {
  display: grid;
  gap: 0.5rem;
}

input,
textarea {
  background-color: #f1f5f9;
  border: 1px solid #cbd5e1;
}
